.App {
  text-align: center;
  /* display: flex; */
}

.form-class{
display: flex;

}
.form-data-part{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  width: 100%;

}
.name{
  margin-bottom: 20px !important;
  width: 40% !important;
  /* display: flex; 
  align-items: center;  */
}
.description{
  margin-bottom: 20px !important;
  width: 40% !important;
}

.upload-label{
  display: flex;
  flex-direction: row;
}

.fileUpload{
margin-bottom: 20px;
display: flex;
flex-direction: row;
/* background-color: darkgrey;
color: #ffffff; */
padding:15px 20px;
width: 20%;
}

.submit-form{
  background-color: rgb(6, 223, 150);
  padding: 10px 20px;
  border: 1px aquamarine;
  border-radius: 2px;
  width: 200px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* input[type="file"]
{
  display: none;
}
.fileUpload input.upload 
{
    display: inline-block;
} */



